body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body h1 {
    margin: 30px 0 0;
}

body h5 {
    margin: 30px;
}

body .form-wrapper {
    display: inline-block;
    padding: 32px 48px 0 48px;
    border: 1px solid #EEE;
    margin-bottom: 40px;
    max-width: 400px;
}

.form-wrapper form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-wrapper form .col {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-wrapper form .col:last-child {
    margin-top: 0;
    margin-bottom: 0;
}

.label-forgot {
    display: block;
}

.label-forgot a {
    transition: color, 0.5s;
}

.label-forgot a:hover {
    color: #004d40 !important;
}

body .modal {
    width: 35%;
}